<section class="card register">
	<form name="myform">

		<div class="textintro">
			<h1>Register</h1>
			<p>To access site features</p>
		</div>

		<fieldset>
			<input type="firstname" name="firstname" placelholder="enter your first name">
			<input type="lastname" name="lastname" placelholder="enter your lastname">
			<input type="email" name="email" placelholder="enter your email">
			<input type="password" name="password" placeholder="enter your password">
		</fieldset>

		<button type="submit" class="btn">Register
		</button>

		<p>or <a href="#/login">login</a></p>

	</form>
</section>